<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@wz) do |f| %>
	 
	  <%= f.hidden_field :admin_user_id, :value => current_user.name + " " +current_user.surname %><br>
  
  	  <%= f.label "Dla użytkownika" %>
 	  <%= f.collection_select :user_id, User.all, :id, :surname , {:selected => "#{current_user.id}"}, prompt: true %><br>
	  
      <%= f.label "Przedmiot" %>
	  <%= f.collection_select :item_id, Item.all, :id, :sn, prompt: true %><br>
	  
      <%= f.label "Lokalizacja" %>
	  <%= f.collection_select :location_id, Location.all, :id, :name, prompt: true %><br>
	  
      <%= f.label "Status" %>
	  <%= f.collection_select :status_id, Status.all, :id, :name, prompt: true %><br>
	  
      <%= f.label "Uwagi" %>
      <%= f.text_area :description, class: 'form-control' %><br>

      <%= f.submit "Dodaj/Zmień", class: "btn btn-primary" %><br>
    <% end %>
  </div>
</div>
