<div class="page-header">
  <h2><%= @subcategory.name %></h2>
</div>

<div class="col-xs-4 col-sm-6">
  <%= link_to "Wróć do kategorii", categories_path %>
  <br><br>
    <% if Subsubcategory.where("subcategory_id= ?", @subcategory.id).count(:id) != 0 %>
  <dd>Spis Podkategorii</dd>  
  <% @subsubcategories.each do |sc| %>
  <% if sc.subcategory_id == @subcategory.id %>
  <li><p><%=link_to sc.name, subsubcategory_path(sc) %>  (<%= Explo.where("subsubcategory_id= ?", sc.id ).count(:id)%>)</p></li>
  <% end %>
  <% end %>
  <% end %>
  <br>
</div>
<div class="col-xs-8 col-sm-6">
	<% if current_user.admin or current_user.office %>
  <%= form_for(@subsubcategory) do |f| %>
    <%= f.hidden_field :subcategory_id, :value => @subcategory.id %>
    <%= f.label "Dodanie podkategorii" %>
    <%= f.text_field :name, class: 'form-control' %>
    <%= f.submit "Dodaj" %><br><br>
  <% end %>
  <% end %>
</div>
  <br>
  <br>
	  <table class="table table-striped table-hover">
  	    <thead>
    	  <tr class="active">
      	    <th>Nazwa</th>
      	  	<th>SN</th>
	  	  	<% if current_user.admin?%> 
      	  	  <th>Ilość</th>
	  		  <th>Jednostka</th>
	  		  <th>Regał</th>
	  		  <th>Półka</th>
        	  <th>Uwagi</th>
	  		<% end %>
      	    <th></th>
    	  </tr>
  		</thead>
  	    <tbody>
    	  <% @explos.each do |explo| %>
      		<tr>
        	  <td><%= explo.name.truncate(30) %></td>
        	  <td><%= explo.sn.truncate(20) %></td>
	    	  <% if current_user.admin?%> 
           	    <td><%= explo.quantity %></td>
		  	  	<td><%= explo.unit.unit %></td>
		 	   	<td><%= explo.regal %></td>
		  	  	<td><%= explo.polka %></td>
          	  	<td><%= explo.description.truncate(20) %></td>
			  <% end %>
			  <td style="width:80px"> <%= link_to image_tag("http://icons.iconarchive.com/icons/double-j-design/super-mono-3d/96/button-round-play-icon.png",:width=>30,:height=>30, :border=>0), explo_path(explo) %></td>
     	 	</tr>
    	  <% end %>
  		</tbody>
	  </table>
