<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h2><%= @user.name %> <%= @user.surname %></h2>
	  <% if @user.avatar? %>
	  <dd><%= image_tag(@user.avatar.url(:medium)) %></dd>
	  <% end %>
	  <h1><%= @user.email %></h1>	
	  <p><%= @user.proffesion %></p>
	  <% if @user.id == current_user.id %>
 <dt><%= link_to "Dodaj zdjęcie", edit_user_path(@user) %></dt>
<% end %>
    </section>
  </aside>
  <section class="user_info">
	  <br>
    <h2>Zgłoszone awarie</h2>	
	<table class="table table-striped table-hover">
	  <thead>
	    <tr class="active">
		  <th>Naprawiający</th>
	      <th>Status</th>
		  <th>Tryb</th>
		  <th>Opis</th>
		  <th>Data zgłoszenia</th>
		  <th>Data Aktualizacji</th>
		  <th></th>
	    </tr>
	  </thead>
	  <tbody>
	  <% @accidents.each do |a| %>
	    <tr>
		  <td><%= a.repman_id %></td>
		  <td><%= a.status.name %></td>
		  <td><%= a.mode %></td>
	      <td><%= a.desctiption.truncate(15) %></td>	
		  <td><%= a.created_at.strftime("%d %b. %Y") %></td>
	      <td><%= a.updated_at.strftime("%d %b. %Y") %></td>	
		  <td><%= link_to "Więcej", accident_path(a) %>
	    </tr>
	    <% end %>
	  </tbody>
	</table>
	<%= will_paginate @accidents %>

  </section>
 
</div>
<div class="row">
    <aside class="col-md-4">
      <section class="user_info">
	asdasd asdk bedą komentarze
	
</section>
</aside>

<section class="user_info">
    <h2>Zgłoszone zamówienia</h2>	
	<table class="table table-striped table-hover">
	  <thead>
	    <tr class="active">
		  <th>Wydający</th>
	      <th>Towar</th>
		  <th>Ilość</th>
		  <th>Opis</th>
		  <th>Status</th>
		  <th>Data Aktualizacji</th>
		  <th></th>
	    </tr>
	  </thead>
	  <tbody>
	    <% @wydanies.each do |a| %>
	    <% if a.accept_id == 1 %>
		  <tr class="warning">
		    <td><%= a.accept_user %></td>
		    <td><%= a.explo.name %></td>
		    <td><%= a.quantity %></td>
			<td><%= a.description.truncate(15) %></td>
		    <td>Oczekuje</td>	
		    <td><%= a.updated_at.strftime("%d %b. %Y") %></td>
			<td><%= link_to "Więcej", wydany_path(a) %></td>	
		  </tr> 
	    <% end %>	
	    <% if a.accept_id == 2 %>
		  <tr class="active">
  		    <td><%= a.accept_user %></td>
  		    <td><%= a.explo.name %></td>
  		    <td><%= a.quantity %></td>
  			<td><%= a.description.truncate(15) %></td>
  		    <td>Do wydania</td>	
  		    <td><%= a.updated_at.strftime("%d %b. %Y") %></td>
  			<td><%= link_to "Więcej", wydany_path(a) %></td>	
  		  </tr>
	    <% end %>  
	    <% if a.accept_id == 3 %>
		  <tr class="danger">
  		    <td><%= a.accept_user %></td>
  		    <td><%= a.explo.name %></td>
  		    <td><%= a.quantity %></td>
  			<td><%= a.description.truncate(15) %></td>
  		    <td>Odrzucone</td>	
  		    <td><%= a.updated_at.strftime("%d %b. %Y") %></td>
  			<td><%= link_to "Więcej", wydany_path(a) %></td>	
  		  </tr>
	    <% end %>
	    <% if a.accept_id == 4 %>
		  <tr class="success">
  		    <td><%= a.accept_user %></td>
  		    <td><%= a.explo.name %></td>
  		    <td><%= a.quantity %></td>
  			<td><%= a.description.truncate(15) %></td>
  		    <td>Wydane</td>	
  		    <td><%= a.updated_at.strftime("%d %b. %Y") %></td>
  			<td><%= link_to "Więcej", wydany_path(a) %></td>	
  		  </tr>
	    <% end %>
		  
		  
		  
		  
		  
	
	    <% end %>
	  </tbody>
	</table>
	<%= will_paginate @wydanies %>
</section>

	
</div>