<div class="page-header">
  <h1>Kategorie</h1>
</div>

<table class="table table-striped table-hover">
  <thead>
    <tr class="active">
      <th>Kategoria</th>
	  <th>Podkategoria</th>
	  <th>Podpodkategoria</th>
	  <th> </th>
    </tr>
  </thead>
  <tbody>	     
  <% @categories.each do |category| %>
    <tr>
      <td><%= category.name %></td>
	  <td> </td>
	   <td> </td>
	    <td> </td>
	  
    </tr>

	 <% @subcategories.each do |c| %>
	 <% if c.category_id == category.id %>
    <tr>
	  <td> </td>
      <td><%=link_to c.name  %></td>
	  <td> </td>
	  <td style="width:80px"> <%= link_to image_tag("http://icons.iconarchive.com/icons/double-j-design/super-mono-3d/96/button-round-play-icon.png",:width=>30,:height=>30, :border=>0), subcategory_path(c) %></td>
    </tr>
	
	 <% @subsubcategories.each do |sc| %>
	 <% if sc.subcategory_id == c.id %>
    <tr>
	  <td> </td>
      <td> </td>
	  <td> <%=link_to sc.name %> </td>
	  <td style="width:80px"> <%= link_to image_tag("http://icons.iconarchive.com/icons/double-j-design/super-mono-3d/96/button-round-play-icon.png",:width=>30,:height=>30, :border=>0), subsubcategory_path(sc) %></td>
    </tr>
	<% end %><% end %>

	<% end %>
    <% end %>
  <% end %>


  </tbody>
</table>



 <%= link_to image_tag("http://icons.iconarchive.com/icons/double-j-design/super-mono-3d/96/button-round-fast-backward-icon.png",:width=>50,:height=>50, :border=>0), root_path %>
	  
